@import './styles/base.scss';

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

[data-state='loading'] {
  background-color: purple;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  // background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background-color: red;

  --duration: 1s;
  --stagger: 0.5s;
  --interval: calc(var(--duration) - var(--stagger));
  animation-name: move-right;
  animation-duration: var(--duration);
  animation-fill-mode: both;
  animation-delay: calc(var(--interval) * var(--i));
}

@keyframes move-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10vw);
  }
}
